.sortByDateButton{
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100px;
  text-wrap: nowrap;
  background-color: rgba(34, 76, 106, 0.529);
  border: none;
  border-radius: 10px;
  text-decoration: none;
}
.sortByDateButton:hover{
  background-color: rgba(34, 76, 106, 0.816);

}
.itemPageButton{
  background-color: transparent ;
  color: rgb(166, 188, 215);
  border: none;
}
.itemPageButton:hover{
  color: rgba(130, 130, 214, 0.692);
  text-decoration: underline;
}
.groupNewItemButton{
  border: none;
  background-color: rgba(102, 120, 172, 0.237);
  border-radius: 10px;
  display: flex;

  flex-direction: column;
  align-items: center;
  /* width: 70px; */
  width: 100%
  /* text-wrap: nowrap; */
}
.groupNewItemButton:hover{
  background-color: rgba(102, 120, 172, 0.662);
}
.deleteGroupButton{
  border: none;
  background-color: rgba(120, 75, 91, 0.523);
  border-radius: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.deleteGroupButton:hover{
  background-color: rgb(120, 75, 91);
}
.rightPanelNewItemButton{
  color: white;
  background-color: rgba(74, 70, 31, 0.523);
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100px;
}
.rightPanelNewItemButton:hover{
  background-color: rgba(74, 70, 31, 0.807);
}
.flow-distinction{
  font-weight: bold;
  font-size: medium;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100px;
}