.main-form{
  background-color: rgba(47, 57, 83, 0.614);
  border-radius: 10px;
  box-shadow: 1px 1px 15px black;
  padding: 10px;
  margin-top: 2em;
}
.border-auth{
  background-color: #0051a4;
  border-radius: 10px;
  pointer-events: none;
}
.auth-button{
  margin:0.5em;
  margin-top: 2em;
}
.btn-primary {
  background-color: #0051a4 !important;
  border-color: #0051a4 !important;
}
.btn-primary:hover{
  background-color: #0762bd !important;
  border-color: #0762bd !important;
}
.auth-button:hover{
  border-radius: 10px;
  background-color: #0762bd;
  transition: background-color 0.2s ease-in; 
}
@media (min-width: 500px) {
  .main-form {
    width: 500px !important;
  }
}