.logo-text{
  white-space: nowrap;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
}
.logo-img{
  height: 5em;
  /* text-align: center; */
}
.full-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-hr{
  border: solid 1px lightgray;
  margin-top: 0.3em;
}